
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yes</title>
</head>
<body>
    <form action="/Login/Yes" method="post">
        <input type="text" name="id" value="@ViewBag.ID" />
        <button type="submit">确定登录</button>
    </form>
</body>
</html>
